.partialPageDescription {
    display: inline-block;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: black;
    min-height: 300px;
    position:absolute;
}
.menu{
    display:inline-block;
}

    .partialPageDescription > div {
        display: inline-block;
        text-align: center;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin: 5px;
    }


body>div{
    margin:5% 10% 5% 10%;
}
